/* ==========================================================================
   #FORMS base styles
   ========================================================================== */

input:not([type=submit]),
textarea {
	background: none;
	border: 1px solid;
	margin-top: add-unit($space-quarter, 'em');
	padding: add-unit($space-quarter, 'em');
	width: 100%;
}

[type="submit"] {
	background: none;
	border: 1px solid;
	box-shadow: inset -2px 0 0 transparent, inset 2px 0 0 transparent;
	margin-top: add-unit($space-quarter, 'em');
	padding: .2em add-unit($space-quarter, 'em');

	&:hover,
	&:focus,
	&:active {
		box-shadow: inset -2px 0 0 $color-tundora, inset 2px 0 0 $color-tundora;
	}
}

input,
textarea {
	box-shadow: inset 2px 0 0 transparent;
	transition: box-shadow .2s ease 0s;

	&:hover,
	&:focus,
	&:active {
		box-shadow: inset 2px 0 0 $color-tundora;
		outline: none !important;
	}
}

label {
	margin-top: add-unit($space-half, 'em');
}

@media screen and (min-width: 50em) {
	@include line-height-and-spaces(1.5);

	input:not([type=submit]),
	textarea {
		margin-top: add-unit($space-quarter, 'em');
		padding: add-unit($space-quarter, 'em');
	}

	[type="submit"] {
		margin-top: add-unit($space-quarter, 'em');
		padding: .2em add-unit($space-quarter, 'em');
	}

	label {
		margin-top: add-unit($space-half, 'em');
	}

	@include line-height-and-spaces(1.4);
}
