/* ==========================================================================
   #HTML
   ========================================================================== */

html {
	background: $color-white;
	color: $color-tundora;
	font-family: "PT Serif", Georgia, serif;
	font-size: 1em;
	line-height: $line-height;
	overflow-y: scroll;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	word-break: break-word;

	@media screen and (min-width: 40em) {
		font-size: 1.1em;
	}

	@media screen and (min-width: 45em) {
		font-size: 1.2em;
	}

	@media screen and (min-width: 50em) {
		font-size: 1.3em;
	}
}
