/* ==========================================================================
   #HTML base styles
   ========================================================================== */

html {
    color: $color-tundora;
    font-family: "PT Serif", Georgia, serif;
    font-size: 1em;
    line-height: $line-height;
    overflow-y: scroll;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    @media screen and (min-width: 40em) {
        font-size: 1.1em;
    }

    @media screen and (min-width: 45em) {
        font-size: 1.2em;
    }

    @media screen and (min-width: 50em) {
        @include line-height-and-spaces(1.5);

        font-size: 1.3em;
        line-height: $line-height;

        @include line-height-and-spaces(1.4);
    }
}
