/* ==========================================================================
   #MEDIA base styles
   ========================================================================== */

/* Styles for figure and img tag
   ========================================================================== */

figure {
	line-height: 0;
	margin: add-unit($space-half, 'em') 0 0;

	> figcaption,
	img {
		line-height: $line-height;
	}

	a {
		@include no-link-style;
	}

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin: add-unit($space-half, 'em') 0 0;

		> figcaption,
		img {
			line-height: $line-height;
		}

		@include line-height-and-spaces(1.4);
	}
}

figure,
img {
	max-width: 100%;;
	height: auto;
}

/* Image alignment
   ========================================================================== */

.alignleft,
.alignright {
	margin-bottom: add-unit($space-half, 'em');
	margin-top: .4em;
}

figure.alignleft,
figure.alignright {
	margin-top: 1.2em;
}

.alignleft {
	float: left;
	margin-right: add-unit($space-half, 'em');
}

.alignright {
	float: right;
	margin-left: add-unit($space-half, 'em');
}

.aligncenter {
	display: block;
	margin: add-unit($space, 'em') auto;
}

@media screen and (min-width: 50em) {
	@include line-height-and-spaces(1.5);

	.alignleft,
	.alignright {
		margin-bottom: add-unit($space-half, 'em');
	}

	.alignleft {
		margin-right: add-unit($space-half, 'em');
	}

	.alignright {
		margin-left: add-unit($space-half, 'em');
	}

	.aligncenter {
		margin: add-unit($space, 'em') auto;
	}

	@include line-height-and-spaces(1.4);
}

/* Image caption
   ========================================================================== */

.wp-caption-text {
	font-size: $font-size-small;
	margin-top: add-unit($space-quarter, 'em');

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-top: add-unit($space-quarter, 'em');

		@include line-height-and-spaces(1.4);
	}
}

/* Image links
   ========================================================================== */
.linked-img,
.attachment a {
	@include no-link-style;
}
