/* ==========================================================================
   #RESET
   ========================================================================== */

* {
	box-sizing: border-box;
	word-wrap: break-word;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
label {
	display: block;
}

audio,
video {
	display: inline-block;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}

textarea {
	overflow: auto;
	resize: vertical;
}

::-webkit-input-placeholder {
	opacity: 1;
}

:-moz-placeholder {
	opacity: 1;
}

::-moz-placeholder {
	opacity: 1;
}

:-ms-input-placeholder {
	opacity: 1;
}
