/* ==========================================================================
   #TYPOGRAPHY base styles
   ========================================================================== */

/* Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	margin: add-unit($space-and-half, 'em') 0 0;

	.entry-content,
	.sidebar {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			+ * {
				margin-top: add-unit($space-half, 'em');
			}
		}
	}
}

h1,
.entry-title {
	font-size: 1.802em;
	line-height: line-height(1.802, 1.5);
}

.entry-title {
	margin-top: 0;
}

h2 {
	font-size: 1.602em;
	line-height: line-height(1.602, 1.5);
}

h3 {
	font-size: 1.424em;
	line-height: line-height(1.424, 1.25);
}

h4 {
	font-size: 1.266em;
	line-height: line-height(1.266, 1.25);
}

h5 {
	font-size: 1.125em;
	line-height: line-height(1.125, 1);
}

h6 {
	font-size: 1em;
	line-height: line-height(1, 1);
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
	margin: add-unit($space-half, 'em') 0 0;
}

@media screen and (min-width: 50em) {
	@include line-height-and-spaces(1.5);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: add-unit($space-and-half, 'em') 0 0;
	}

	.entry-content,
	.sidebar {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			+ * {
				margin-top: add-unit($space-half, 'em');
			}
		}
	}

	h1,
	.entry-title {
		font-size: 1.802em;
		line-height: line-height(1.802, 1.5);
	}

	.entry-title {
		margin-top: 0;
	}

	h2 {
		font-size: 1.602em;
		line-height: line-height(1.602, 1.5);
	}

	h3 {
		font-size: 1.424em;
		line-height: line-height(1.424, 1.25);
	}

	h4 {
		font-size: 1.266em;
		line-height: line-height(1.266, 1.25);
	}

	h5 {
		font-size: 1.125em;
		line-height: line-height(1.125, 1);
	}

	h6 {
		font-size: 1em;
		line-height: line-height(1, 1);
	}

	h1 + h2,
	h2 + h3,
	h3 + h4,
	h4 + h5,
	h5 + h6 {
		margin: add-unit($space-half, 'em') 0 0;
	}

	@include line-height-and-spaces(1.4);
}

/* Paragraphs
   ========================================================================== */

p {
	margin: add-unit($space-half, 'em') 0 0;

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin: add-unit($space-half, 'em') 0 0;

		@include line-height-and-spaces(1.4);
	}
}

/* Links
   ========================================================================== */

a {
	box-shadow: inset 0 -1px 0 currentColor;
	box-shadow: inset 0 -1px 0 currentColor, 4px 0 0 transparent, -4px 0 0 transparent;
	box-decoration-break: clone;
	color: inherit;
	padding-bottom: .05em;
	padding-top: .05em;
	text-decoration: none;
	-webkit-text-decoration-skip: objects;
	transition: box-shadow .2s ease 0s, background .2s ease 0s;

	@media screen and (min-width: 50em) {
		padding-bottom: .1em;
		padding-top: .1em;
	}
}

a:active,
a:hover,
.current-menu-item > a {
	box-shadow: inset 0 -1px 0 transparent;
	outline-width: 0;
}

a:focus {
	background: $color-tundora;
	box-shadow: inset 0 -1px 0 $color-tundora, 4px 0 0 $color-tundora, -4px 0 0 $color-tundora;
	color: $color-white;
	outline-width: 0;
}

/**
 * It is a pity, but here come a few conditional styles for Edge (has render problems with the box-shadow on focus).
 * @link: https://jeffclayton.wordpress.com/2015/04/07/css-hacks-for-windows-10-and-spartan-browser-preview/
 */

@supports (-ms-ime-align:auto) {
	a {
		box-shadow: inset 0 -1px 0 currentColor;
		transition: none;

		&:focus {
			border-left: 4px solid $color-tundora;
			border-right: 4px solid $color-tundora;
			box-shadow: none;
			margin-left: -4px;
			margin-right: -4px;
		}
	}
}

/* Blockquotes
   ========================================================================== */

blockquote {
	border-left: 2px solid;
	margin: add-unit($space, 'em') add-unit($space-half, 'em');
	padding-left: add-unit($space-half, 'em');
}

blockquote cite {
	display: block;
	font-style: italic;
	margin: add-unit($space-quarter, 'em') 0 0;
}

@media screen and (min-width: 50em) {
	@include line-height-and-spaces(1.5);

	blockquote {
		margin: add-unit($space, 'em') add-unit($space-half, 'em');
		padding-left: add-unit($space-half);
	}

	blockquote cite {
		margin: add-unit($space-quarter, 'em') 0 0;
	}

	@include line-height-and-spaces(1.4);
}

/* Do not use strong and italic text.
   ========================================================================== */

em > strong {
	font-weight: bold;
	font-style: normal;
}

strong > em {
	font-style: italic;
	font-weight: normal;
}
