.wp-block-columns {
	margin-bottom: #{$space * 1.5}em;
	margin-top: #{$space * 1.5}em;

	.wp-block-column {
		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}
	@for $i from 2 through 6 {
		&.has-#{ $i }-columns {
			@media screen and (min-width: 30em) {
				display: grid;
				grid-gap: #{$space}rem;
				grid-template:
				'a b' minmax(1em, auto)
				/ 1fr 1fr;
			}

			@if $i > 2 {
				@media screen and (min-width: 30em) {
					grid-template:
					'a b'
					'c .'
					/ 1fr 1fr;
				}

				@media screen and (min-width: 35em) {
					grid-template:
					'a b c' minmax(1em, auto)
					/ 1fr 1fr 1fr;
				}
			}

			@if $i > 3 {
				@media screen and (min-width: 30em) {
					grid-template:
					'a b' minmax(1em, auto)
					'c d' minmax(1em, auto)
					/ 1fr 1fr;
				}

				@media screen and (min-width: 35em) {
					grid-template:
					'a b c' minmax(1em, auto)
					'd . .' minmax(1em, auto)
					/ 1fr 1fr 1fr;
				}

				@media screen and (min-width: 40em) {
					grid-template:
					'a b c d' minmax(1em, auto)
					/ 1fr 1fr 1fr 1fr;
				}
			}

			@if $i > 4 {
				@media screen and (min-width: 30em) {
					grid-template:
					'a b' minmax(1em, auto)
					'c d' minmax(1em, auto)
					'e .' minmax(1em, auto)
					/ 1fr 1fr;
				}

				@media screen and (min-width: 35em) {
					grid-template:
					'a b c' minmax(1em, auto)
					'd e .' minmax(1em, auto)
					/ 1fr 1fr 1fr 1fr;
				}

				@media screen and (min-width: 40em) {
					grid-template:
					'a b c d' minmax(1em, auto)
					'e . . .' minmax(1em, auto)
					/ 1fr 1fr 1fr 1fr;
				}

				@media screen and (min-width: 45em) {
					grid-template:
					'a b c d e' minmax(1em, auto)
					/ 1fr 1fr 1fr 1fr 1fr;
				}
			}

			@if $i > 5 {
				@media screen and (min-width: 30em) {
					grid-template:
					'a b' minmax(1em, auto)
					'c d' minmax(1em, auto)
					'e f' minmax(1em, auto)
					/ 1fr 1fr;
				}

				@media screen and (min-width: 35em) {
					grid-template:
					'a b c' minmax(1em, auto)
					'd e f' minmax(1em, auto)
					/ 1fr 1fr 1fr 1fr;
				}

				@media screen and (min-width: 40em) {
					grid-template:
					'a b c d' minmax(1em, auto)
					'e f . .' minmax(1em, auto)
					/ 1fr 1fr 1fr 1fr;
				}

				@media screen and (min-width: 45em) {
					grid-template:
					'a b c d e' minmax(1em, auto)
					'f . . . .' minmax(1em, auto)
					/ 1fr 1fr 1fr 1fr 1fr;
				}

				@media screen and (min-width: 45em) {
					grid-template:
					'a b c d e f' minmax(1em, auto)
					/ 1fr 1fr 1fr 1fr 1fr 1fr;
				}
			}
		}
	}

	@for $column-count from 1 through 8 {
		.wp-block-column:nth-of-type(#{$column-count}) {
			@if $column-count == 1 {
				grid-area: a;
			}
			@if $column-count == 2 {
				grid-area: b;
			}
			@if $column-count == 3 {
				grid-area: c;
			}
			@if $column-count == 4 {
				grid-area: d;
			}
			@if $column-count == 5 {
				grid-area: e;
			}
			@if $column-count == 6 {
				grid-area: f;
			}
			@if $column-count == 7 {
				grid-area: g;
			}
			@if $column-count == 8 {
				grid-area: d;
			}
		}
	}
}
