/* ==========================================================================
  #COMMENTS
  ========================================================================== */

.comment-list {
	padding-left: 0;
}

.children,
.comment-list {
	counter-reset: section;
	padding-left: 0;
}

[class*="depth-"] > .children {
	padding-left: add-unit($space, 'rem');

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		padding-left: add-unit($space, 'rem');

		@include line-height-and-spaces(1.4);
	}
}

.comment-body {
	background: #fff;
	position: relative;
}

.comment {
	list-style-type: none;
	margin: add-unit($space-double, 'em') 0 0;
	position: relative;

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-top: add-unit($space-double, 'em');

		@include line-height-and-spaces(1.4);
	}
}

.comment-meta {
	font-size: $font-size-small;
	font-style: italic;
	margin-right: add-unit($space-half);
	position: relative;

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-right: add-unit($space-half);

		@include line-height-and-spaces(1.4);
	}
}

.comment-meta > .avatar {
	height: auto;
	margin-left: -#{add-unit($space-half)};
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: add-unit($space);

	@media screen and (min-width: 40em) {
		margin-left: -#{add-unit($space-three-quarters)};
		width: add-unit($space-and-half);
	}
}

.comment-author-date {
	margin-left: add-unit($space);
	margin-top: 0;

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-left: add-unit($space);

		@include line-height-and-spaces(1.4);
	}
}

.reply {
	font-size: $font-size-small;
	margin-left: add-unit($space);
	margin-top: add-unit($space-half, 'em');

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-left: add-unit($space);
		margin-top: add-unit($space-half);

		@include line-height-and-spaces(1.4);
	}
}

.comment-navigation .nav-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 0;
	padding-right: 0;
}

.comment-form-cookies-consent {
	display: flex;
	align-items: baseline;

	label {
		margin-left: .5em;
	}

	input {
		width: auto;
	}
}
