/* ==========================================================================
  #ENTRY
  ========================================================================== */

article {
	margin: add-unit($space-triple, 'em') 0 0;

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-top: add-unit($space-triple, 'em');

		@include line-height-and-spaces(1.4);
	}
}

.entry-header > div,
.post-thumbnail,
.entry-content,
.entry-footer {
	max-width: $content-max-width;
	margin-left: auto;
	margin-right: auto;
	@include padding-left-and-right($space);
}

[class*="-large-featured-image"] .post-thumbnail {
	max-width: 100%;
	padding: 0;
}

.entry-header > .post-thumbnail {
	margin-top: add-unit($space, 'em');
}

.post-thumbnail > .wp-post-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.entry-content > :first-child {
	margin-top: add-unit($space, 'em');
}

.entry-title::before {
	background: #444;
	content: '';
	display: block;
	height: 2px;
	position: relative;
	top: -#{line-height(1.802, .5)}em;
	width: 75px;

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		top: -#{line-height(1.802, .5)}em;

		@include line-height-and-spaces(1.4);
	}
}

.main article:first-of-type .entry-title::before {
	display: none;
}

.sticky .entry-title::before,
.gallery-grid-item .entry-title::before {
	display: none;
}

.entry-title > a {
	left: 0;
	position: relative;
	transition: left .2s ease 0s, box-shadow .2s ease 0s, background .2s ease 0s;
}

.entry-title > a:focus {
	left: 4px;
}

.sticky .entry-header > div {
	display: flex;
	flex-direction: column;
}

.sticky .entry-title,
.sticky .entry-meta.-header {
	order: 1;
}

.entry-meta {
	font-size: $font-size-small;
	font-style: italic;

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-left: add-unit($space);

		@include line-height-and-spaces(1.4);
	}
}

article:not(.sticky) .sticky-post-featured-string {
	display: none;
}

.sticky-post-featured-string {
	margin-bottom: add-unit($space-half, 'em');
	font-size: $font-size-small;

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-bottom: add-unit($space-half, 'em');

		@include line-height-and-spaces(1.4);
	}
}

.sticky-post-featured-string > span {
	background: #444;
	color: #fff;
	letter-spacing: .06em;
	order: 0;
	padding: .2em .4em;
	text-transform: uppercase;
}

.post > figure,
.page > figure {
	display: none;
}

.entry-meta.-footer {
	font-size: $font-size-small;
	font-style: italic;
	margin-top: add-unit($space-half, 'em');
}

@media screen and (min-width: 20em) {
	.entry-meta {
		margin-left: add-unit($space);
	}
}

@media screen and (min-width: 40em) {
	.entry-header > div,
	.post-thumbnail,
	.entry-content,
	.entry-footer {
		@include padding-left-and-right($space-and-half);
	}
}

@media screen and (min-width: 45em) {
	.entry-header > div,
	.post-thumbnail,
	.entry-content,
	.entry-footer {
		@include padding-left-and-right($space-double);
	}
}

@media screen and (min-width: 50em) {
	@include line-height-and-spaces(1.5);

	.entry-header .post-thumbnail,
	.entry-content > :first-child,
	.entry-meta.-footer {
		margin-top: add-unit($space, 'em');
	}

	.entry-meta {
		margin-left: add-unit($space);
	}

	@include line-height-and-spaces(1.4);
}
