/* ==========================================================================
  #GALLERY ITEMS
  ========================================================================== */

.gallery-item {
	float: left;
	margin: add-unit($space-half, 'em');
	padding: 0;
}

.gallery-size-full .gallery-item,
.gallery-size-large .gallery-item {
	float: none;
	margin: 0 add-unit($space-half, 'em');
	padding: add-unit($space, 'em') 0;
}

.-no-sidebar .gallery-size-full .gallery-item {
	margin-left: 0;
	margin-right: 0;
}

.gallery-size-full .gallery-item img,
.gallery-size-large .gallery-item img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gallery-item > .gallery-caption {
	display: none;
}

@media screen and (min-width: 50em) {
	@include line-height-and-spaces(1.5);

	.gallery-item {
		margin: add-unit($space-half, 'em');
	}

	.gallery-size-full .gallery-item {
		margin: 0 add-unit($space-half, 'em');
		padding: add-unit($space, 'em') 0;
	}

	@include line-height-and-spaces(1.4);
}
