/* ==========================================================================
  #GALLERY GRID ITEMS
  ========================================================================== */

.gallery-grid-item {
	margin: 0 auto add-unit($space, 'em');
	max-width: 350px;
	text-align: left;
	width: 100%;

	&.-hidden-title {
		margin-bottom: 20px;
	}

	a > .post-thumbnail {
		transition: opacity .2s ease 0s;
	}

	a:hover,
	a:focus,
	a:active {
		color: inherit;

		> .post-thumbnail {
			opacity: .7;
			transition: opacity .2s ease 0s;
		}
	}

	.post-thumbnail,
	.entry-title {
		display: block;
		margin: 0;
		padding: 0;
	}

	.post-thumbnail {
		max-width: 100%;

		@media screen and (max-width: 720px) {
			height: auto !important;
		}
	}

	.entry-title {
		font-size: 1em;
		line-height: add-unit($space, 'em');
		padding: 0 add-unit($space-quarter, 'em');
		margin: add-unit($space-quarter, 'em') 0 0;
	}

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-bottom: add-unit($space, 'em');

		.entry-title {
			line-height: add-unit($space, 'em');
			padding: 0 add-unit($space-quarter, 'em');
			margin: add-unit($space-quarter, 'em') 0 0;
		}

		@include line-height-and-spaces(1.4);
	}
}

.no-js .gallery-grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
	margin-right: 10px;
	justify-content: center;
}

/**
 * Space in gallery grid.
 */
@media screen and (min-width: 730px) {
	.gallery-grid-item {
		margin-left: 10px;
		margin-right: 10px;
	}
}
