/* ==========================================================================
  #PAGE TEMPLATES
  ========================================================================== */

.widget_calendar thead th,
.widget_calendar tbody {
	text-align: center;
}

.widget > :last-child {
	margin-bottom: 0;
}

.widget-title + * {
	margin-top: add-unit($space-half, 'em');
}

.widget-title::before {
	background: #444;
	content: '';
	display: block;
	height: 2px;
	position: relative;
	top: -#{line-height(1.424, .5)}em;
	width: 50px;
}

.widget_media_gallery {
	.gallery-columns- {
		&2,
		&3 {
			.gallery-item {
				margin: .5em;
			}
		}

		&2 {
			.gallery-item {
				width: calc(50% - 1em);
			}
		}

		&3 {
			.gallery-item {
				width: calc(33.33% - 1em);
			}
		}
	}
}
