/* ==========================================================================
  #PAGE TEMPLATES
  ========================================================================== */

.widget_calendar thead th,
.widget_calendar tbody {
    text-align: center;
}

.widget-title + * {
    margin-top: add-unit($space-half, 'em');

    @media screen and (min-width: 50em) {
        @include line-height-and-spaces(1.5);

        margin-top: add-unit($space-half, 'em');

        @include line-height-and-spaces(1.4);
    }
}
