@import './frontend';
.wp-block-cover {
	.wp-block-cover__inner-container {
		width: 100%;
	}

	&.alignleft,
	&.alignright {
		margin-bottom: #{$space}em;
		margin-top: .3em;
		width: 50%;
	}

	&.alignright {
		margin-top: 1em;
	}
}

[data-type="core/cover"] {
	&[data-align="left"],
	&[data-align="right"] {
		.wp-block-cover {
			margin-bottom: #{$space}em;
			margin-top: .3em;
		}
	}

	&[ata-align="right"] {
		margin-top: 1em;
	}
}
