/* ==========================================================================
  #COMMENTS AREA
  ========================================================================== */

.comments-area {
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: add-unit($space-triple, 'em');
    @include padding-left-and-right($space);

    @media screen and (min-width: 40em) {
        @include padding-left-and-right($space-and-half);
    }

    @media screen and (min-width: 45em) {
        @include padding-left-and-right($space-double);
    }

    @media screen and (min-width: 50em) {
        @include line-height-and-spaces(1.5);

        margin-top: add-unit($space-triple, 'em');
    }
}
