/* ==========================================================================
  #GRIDS
  ========================================================================== */

/* Gallery grid
   ========================================================================== */

.gallery-grid-wrapper {
	margin-top: add-unit($space-double, 'em');
	text-align: center;
	@include padding-left-and-right($space);

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-top: add-unit($space-double, 'em');

		@include line-height-and-spaces(1.4);
	}
}

.gallery-grid {
	margin-left: auto;
	margin-right: auto;
}
