/* ==========================================================================
  #GRIDS
  ========================================================================== */

/* Gallery grid
   ========================================================================== */

.gallery-grid-wrapper {
	margin-top: add-unit($space-double, 'em');
	text-align: center;
	@include padding-left-and-right($space);
}

.gallery-grid {
	margin-left: auto;
	margin-right: auto;
}
