/* ==========================================================================
  #HEADER
  ========================================================================== */

.site-header.-with-header-image {
	align-items: center;
	background-size: cover;
	color: #fff;
	display: flex;
	min-height: 100vh;
	position: relative;
}

.site-header.-with-header-image .primary-header {
	padding-bottom: add-unit($space-double, 'em');
	padding-top: add-unit($space-double, 'em');
}

.site-header.-with-header-image .primary-nav a:focus {
	background-color: $color-white;
	box-shadow: inset 0 -1px 0 $color-white, 4px 0 0 $color-white, -4px 0 0 $color-white;
	color: #444;
}

.site-header.-with-header-image > p {
	bottom: add-unit($space, 'em');
	height: 1em;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.site-header.-with-header-image .scroll-link {
	box-shadow: none;
}

.site-header.-with-header-image .scroll-link:focus,
.site-header.-with-header-image .scroll-link:hover,
.site-header.-with-header-image .scroll-link:active {
	background: none;
}

.site-header.-with-header-image .scroll-link:focus svg,
.site-header.-with-header-image .scroll-link:hover svg,
.site-header.-with-header-image .scroll-link:active svg {
	transform: scale(1.5);
	transition: all .2s ease 0s;
}

@media screen and (min-width: 50em) {
	@include line-height-and-spaces(1.5);

	.site-header.-with-header-image .primary-header {
		padding-bottom: add-unit($space-double, 'em');
		padding-top: add-unit($space-double, 'em');
	}

	.site-header.-with-header-image > p {
		bottom: add-unit($space, 'em');
	}

	@include line-height-and-spaces(1.4);
}

.scroll-link svg {
	fill: $color-white;
	height: 1em;
	transition: all .2s ease 0s;
	width: 1em;
}

.primary-header {
	margin: 0 auto;
	max-width: 1200px;
	text-align: center;
	padding: add-unit($space-double, 'em') add-unit($space) 0;

	@media screen and (min-width: 40em) {
		@include padding-left-and-right($space-and-half);
	}

	@media screen and (min-width: 45em) {
		@include padding-left-and-right($space-double);
	}

	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		.primary-header {
			padding-top: add-unit($space-double, 'em');
		}

		@include line-height-and-spaces(1.4);
	}
}

.site-title {
	font-size: 1.424em;
	line-height: 1.24861;
	margin: 0;
}

.site-description {
	margin: add-unit($space-quarter, 'em') 0 0;
	font-size: 0.889rem;
	font-style: italic;
	@media screen and (min-width: 50em) {
		@include line-height-and-spaces(1.5);

		margin-top: add-unit($space-quarter, 'em');

		@include line-height-and-spaces(1.4);
	}
}

@media screen and (min-width: 55em) {
	@include line-height-and-spaces(1.5);
	.site-header.-wide-layout .primary-header {
		display: flex;
		align-items: center;
	}

	.site-header.-wide-layout .branding {
		float: left;
		margin-right: add-unit($space, 'em');
		text-align: left;
	}

	.site-header.-wide-layout .primary-nav-container {
		float: right;
		margin-left: auto;
	}

	.site-header.-wide-layout .primary-nav {
		margin-top: 0;
	}
	@include line-height-and-spaces(1.4);
}
