@mixin padding-left-and-right($padding, $unit: 'rem') {
	padding-left: add-unit($padding, $unit);
	padding-right: add-unit($padding, $unit);
}

@mixin no-link-style() {
	box-shadow: none;

	&:focus {
		background: none;
		box-shadow: none;
	}
}

@mixin visible-for-screenreaders() {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations
	announce broken words as they would appear visually */
	word-wrap: normal !important;
}

@mixin clearfix() {
	clear: both;
	content: '';
	display: block;
}
