@mixin padding-left-and-right($padding, $unit: 'rem') {
	padding-left: add-unit($padding, $unit);
	padding-right: add-unit($padding, $unit);
}

@mixin no-link-style() {
	box-shadow: none;

	&:focus {
		background: none;
		box-shadow: none;
	}
}

@mixin visible-for-screenreaders() {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations
	announce broken words as they would appear visually */
	word-wrap: normal !important;
}

@mixin clearfix() {
	clear: both;
	content: '';
	display: block;
}

/**
 * Conditional styles for IE and Edge.
 */
@mixin ie_edge_link_fallback() {
	a {
		box-shadow: inset 0 -1px 0 currentColor;
		transition: none;

		&:focus {
			border-left: 4px solid $color-tundora;
			border-right: 4px solid $color-tundora;
			box-shadow: none;
			margin-left: -4px;
			margin-right: -4px;
		}
	}

	.gallery-grid a:focus,
	.img-link:focus {
		border: none;
		margin-left: 0;
		margin-right: 0;
	}

	.img-link {
		display: block;
	}

	.entry-title > a {
		transition: box-shadow .2s ease 0s;
	}

	.entry-title > a,
	.entry-meta.-header > a {
		box-shadow: inset 0 -1px 0 transparent;
	}

	.entry-title > a:active,
	.entry-title > a:hover,
	.entry-meta.-header > a:active,
	.entry-meta.-header > a:hover {
		box-shadow: inset 0 -1px 0 currentColor;
	}

	.entry-title > a:focus,
	.entry-meta.-header > a:focus {
		box-shadow: none;
		transition: none;
	}

	.site-header.-with-header-image .primary-nav a:focus {
		border-left: 4px solid $color-white;
		border-right: 4px solid $color-white;
		box-shadow: none;
	}

	.-dark-mode {
		a:focus {
			background: #eee;
			border-left: 4px solid #eee;
			border-right: 4px solid #eee;
			box-shadow: none;
		}
	}
}
